:local(.lineUp) {
  overflow: auto;
}

:local(.faceContainer) {
  box-sizing: border-box;
  border: 5px solid white;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  line-height: 0;
  position: relative;
  outline: none;
  overflow: auto;
  min-width: 100px;
  width: 20%;
}

:local(.faceContainer) img {
  border-radius: 50px;
  width: 100%;
}

:local(.faceContainer.active) {
  border-color: black;
}

:local(.faceContainer.incorrect) {
  border-color: red;
}

:local(.faceContainer.correct) {
  border-color: green;
}

:local(.textName) {
  padding: 0 12px;
  line-height: initial;
}

:local(.incorrect) {
  color: red;
}

:local(.correct) {
  color: green;
}
